OrphansBackup/XMLMapping/OrphansSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace ="XML.Orphans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Orphans">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Orphan">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" />
              <xs:element name="Note" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>